@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    border: none;
}

body{
    background: url(/assets/images/Abstract-background-016-HQ.jpg);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}

.inputs{
    display: block;
    width: 400px;
    height: 60px;
    position: relative;
    left: 45px;
    margin-bottom: 20px;
    padding-left: 40px;
    font-size: 20px;
    border-radius: 10px;
}

.container{
    background: linear-gradient(to right, rgb(0, 51, 255), rgb(224, 192, 255));
    width: 1400px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 20px;
}

.form{
    background: linear-gradient(to left, rgb(0, 125, 241), rgb(255, 192, 251));
    width: 500px;
    height: 750px;
    margin-left: 870px;
    position: relative;
    bottom: -25px;
    border-radius: 20px;
}

body h1{
    text-align: center;
    margin-top: 15px;
    font-size: 5rem;
    color: black;
}

.form h2{
    text-align: center;
    font-size: 3rem;
    padding-top: 60px;
    margin-bottom: 90px;
}

.form form p{
    position: relative;
    left: 45px;
    top: 45px;
    font-size: 24px;
}

.btn{
    width: 198px;
    height: 60px;
    position: relative;
    left: 45px;
    top: 110px;
    border-radius: 10px;
}

.inputs::placeholder{
    font-size: 20px;
    
}

a{
    text-decoration: none;
}